body {
    font-family: Arial, sans-serif;
    background: url("image/dropout background.jpg") no-repeat center center fixed;
    background-size: cover;
    
}



.navbar {
background-color: #007bff !important;
}

.hero {
padding: 5rem 0;
background: linear-gradient(to right, #007bff, #6610f2);
}

.hero h1 {
font-size: 2.5rem;
}

.card {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
background-color: #007bff;
border: none;
}

.btn-primary:hover {
background-color: #0056b3;
}
